/**   /* BASE - Base styles, variables, mixins, etc 


@import 'base/_fonts.scss';
@import 'base/_mixins.scss';



/* MODULES - Individual site components 

@import 'modules/_typography.scss';
@import 'modules/_blocks.scss';
@import 'modules/_buttons.scss';
@import 'modules/_sections.scss';
@import 'modules/_components.scss';
@import 'modules/_forms.scss';  */
/* LAYOUTS - Page layout styles 

@import 'layouts/_nav.scss';
@import 'layouts/_header.scss';
@import 'layouts/_footer.scss';
@import 'layouts/_blog.scss';
@import 'layouts/_mobile.scss';  */
/**BASE - Base styles, variables, mixins, etc */
/* Basic Fonts */
/* Header */
/*Primary Navigation*/
/*Secondary Navigation*/
/*Gallery*/
/*News Blocks*/
/*News Icons*/
/*footer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: BPGMrgvlovani2010;
  src: url(../fonts/bpg_mrgvlovani_2010.ttf); }

@font-face {
  font-family: Avenir-Medium;
  src: url(../fonts/Avenir-Medium.woff); }

@font-face {
  font-family: BPGNinoMtavruli-Bold;
  src: url(../fonts/bpg_nino_mtavruli_bold.ttf); }

@font-face {
  font-family: BPG Nino Mtavruli;
  src: url(../fonts/bpg_nino_mtavruli_normal.ttf); }

.h2,
h2 {
  font-size: unset; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: #15181f;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  line-height: 1.7em;
  color: #15181f; }

/* LAYOUTS - Page layout styles*/
header {
  background-image: url("../images/rectangle.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 376px; }

.container-1 {
  position: absolute;
  min-width: 100%; }

.container-2 {
  width: 1320px;
  margin: auto;
  overflow: hidden; }

section .container-2 {
  margin-top: 42px; }

.news-bck {
  background-color: #fafafa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 532px;
  margin-top: -48px; }

/* Components-Individual site components */
.logo1 img {
  width: 290px; }

.nav-bar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px; }
  .nav-bar1 nav {
    margin: -12px auto auto 149px; }
  .nav-bar1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav-bar1 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0 2px; }
    .nav-bar1 li a {
      color: #ffffff;
      font-family: "BPGMrgvlovani2010";
      font-size: 14px;
      padding: 2px 13px; }
    .nav-bar1 li::after {
      content: "";
      border-top: 2px solid white;
      position: absolute;
      width: 100%;
      top: -40px;
      display: none; }
    .nav-bar1 li:hover a {
      background-color: #ffffff;
      color: #000000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .nav-bar1 li:hover::after {
      display: block; }

#nav-dropdown ul {
  display: none;
  color: #000000;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 268px;
  height: 182px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19); }

#nav-dropdown:hover ul {
  display: block;
  z-index: 1;
  margin-top: 31px;
  padding-top: 12px; }

#nav-dropdown li {
  width: 100%;
  padding: 8px 0 0 0; }
  #nav-dropdown li:hover {
    background-color: #ffffff;
    text-decoration: none; }
  #nav-dropdown li::after {
    border-top: none; }
  #nav-dropdown li a {
    font-family: "BPGMrgvlovani2010";
    font-size: 13px;
    width: 100%; }
    #nav-dropdown li a:hover {
      background-color: #f7f7f7; }

.lang-switch {
  color: #ffffff;
  font-size: 12px;
  margin-top: -10px;
  font-family: 12px; }
  .lang-switch:hover {
    color: #1f2126; }

.nav-bar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 40px;
  height: 172px; }
  .nav-bar2 .nav-images {
    width: 100%;
    text-align: center;
    border-right: 1px solid #f6e9e9;
    padding: 10px 0;
    margin-top: 5px; }
    .nav-bar2 .nav-images img {
      padding-bottom: 5px; }
    .nav-bar2 .nav-images:last-child {
      border: none; }
    .nav-bar2 .nav-images h2 {
      font-family: "BPGNinoMtavruli-Bold";
      color: #15181f;
      font-size: 18px; }

/* Carousel */
.carousel-images {
  height: 761px;
  width: 100%; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35px;
  left: 58px;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  text-align: unset;
  width: 400px; }
  .carousel-caption h3 {
    font-family: 'BPGNinoMtavruli-Bold';
    font-size: 53px;
    height: 122px;
    color: #ffffff;
    line-height: 1.2; }

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1; }

.carousel-control-prev {
  left: 885px;
  top: 667px; }

.carousel-control-next {
  right: 347px;
  top: 667px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 54px; }

.image-1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }
  .image-1 img {
    width: 322px;
    height: 522px;
    border-radius: 4px; }

.image-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 318px 49px 49px; }
  .image-2 img {
    width: 224px;
    height: 70px;
    margin-bottom: 15px; }

.image-4 figcaption, .image-5 figcaption, .image-6 figcaption, .image-7 figcaption, .image-8 figcaption, .image-9 figcaption, .image-10 figcaption {
  font-weight: bold;
  color: #ffffff;
  font-family: "BPG Nino Mtavruli";
  font-size: 26px; }

.image-4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 11px; }
  .image-4 img {
    width: 654px;
    height: 256px; }
  .image-4 figcaption {
    margin-top: -70px;
    margin-left: 27px;
    width: 261px;
    height: 30px; }

.image-5 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 11px; }
  .image-5 img {
    width: 322px;
    height: 256px;
    -o-object-fit: contain;
       object-fit: contain; }
  .image-5 figcaption {
    margin-top: -88px;
    margin-left: 35px;
    line-height: 1; }

.image-6 {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 333px;
  margin-top: 265px; }
  .image-6 img {
    width: 322px;
    height: 256px;
    -o-object-fit: contain;
       object-fit: contain; }
  .image-6 figcaption {
    margin-top: -55px;
    margin-left: 37px; }

.image-7 {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 264px;
  margin-left: 664px; }
  .image-7 img {
    width: 654.7px;
    height: 256px; }
  .image-7 figcaption {
    /*margin-top: -55px;*/
    margin-left: 38px; }

.image-8 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 12px;
  margin-top: -2px; }
  .image-8 img {
    width: 1320px;
    height: 256px;
    -o-object-fit: contain;
       object-fit: contain; }
  .image-8 figcaption {
    margin-top: -74px;
    margin-bottom: 21px;
    margin-left: 42px;
    letter-spacing: 2px;
    font-size: 43px; }

.image-9 {
  margin-top: 13px; }
  .image-9 img {
    vertical-align: super; }
  .image-9 figcaption {
    /*margin-top: -55px;*/
    margin-left: 37px;
    letter-spacing: 1px; }

.image-10 {
  margin-left: 12px;
  margin-top: 13px; }

section h1 {
  font-family: "BPG Nino Mtavruli";
  font-size: 36px;
  font-weight: bold;
  color: #15181f;
  margin-top: 8px; }

.red-line {
  width: 226px;
  height: 2px;
  background-color: #e7343f;
  border: none;
  float: left; }

.news-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 88px; }
  .news-blocks a h2 {
    width: 382px;
    height: 64px;
    font-family: "BPGMrgvlovani2010";
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.4px;
    color: #1d212c;
    margin-top: 12px; }
  .news-blocks a p {
    height: 30px;
    font-family: "BPGMrgvlovani2010";
    font-size: 14px;
    letter-spacing: 1px;
    color: #787d88;
    margin-top: 12px; }

.image-12, .image-13 {
  margin-left: 30px;
  height: 264px; }

.image-13 img {
  height: 264px; }

.news {
  margin-top: 100px; }
  .news p {
    display: inline;
    width: 249px;
    height: 23px;
    font-family: "BPGNinoMtavruli";
    font-size: 20px;
    font-weight: bold;
    color: #1d1e1f; }
  .news span {
    width: 81px;
    height: 16px;
    opacity: 0.5;
    font-family: "BPGMrgvlovani2010";
    font-size: 14px;
    color: #1d1e1f;
    margin-left: 24px; }

.news-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px; }
  .news-icons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 31px; }

.icon-info {
  margin-left: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .icon-info h5 {
    font-family: "Avenir-Medium";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.7px;
    color: #1d1e1f; }
  .icon-info p {
    font-family: "BPGMrgvlovani2010";
    font-size: 14px;
    color: #1d1e1f;
    font-weight: initial;
    margin-top: -8px;
    letter-spacing: 0.8px; }

footer {
  padding-top: 37px; }
  footer hr {
    background-color: #aaaeb8; }

.part-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding: 21px 440px 43px 0px;
  white-space: nowrap; }
  .part-1 ul li {
    padding-right: 48px; }
    .part-1 ul li a {
      font-family: "BPGMrgvlovani2010";
      font-size: 12px;
      letter-spacing: 1.8px;
      color: #aaaeb8; }
    .part-1 ul li:hover {
      font-family: "BPGMrgvlovani2010";
      font-size: 12px;
      letter-spacing: 1.8px;
      color: #181c27; }

#active {
  font-family: "BPGMrgvlovani2010";
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #181c27; }

.footer-background {
  height: 80px;
  background-color: #1f2126;
  background-position: relative; }

.part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px; }
  .part-2 p {
    width: 403px;
    height: 24px;
    font-family: "BPGMrgvlovani2010";
    font-size: 10px;
    line-height: 2.4;
    text-align: center;
    color: #9fa4af; }

.footer-icon1 {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.4; }

.footer-icon2 {
  width: 10px;
  height: 12px;
  margin-top: 4px; }
/*# sourceMappingURL=main.css.map */