html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}



.h2,
h2 {
    font-size: unset;
}

/*My Code*/


* {
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: BPGMrgvlovani2010;
    src: url(fonts/bpg_mrgvlovani_2010.ttf);
}

@font-face {
    font-family: Avenir-Medium;
    src: url(fonts/Avenir-Medium.woff);
}

@font-face {
    font-family: BPGNinoMtavruli-Bold;
    src: url(fonts/bpg_nino_mtavruli_bold.ttf);
}

@font-face {
    font-family: BPG Nino Mtavruli;
    src: url(fonts/bpg_nino_mtavruli_normal.ttf);
}

body,
html {
    margin: 0;
    padding: 0px;

    text-decoration: none;
}


a:hover {
    text-decoration: none !important;
    color: unset !important;
}

.container-1 {
    position: absolute;
    min-width: 100%;

}

.container-2 {
    width: 1320px;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: url('images/rectangle.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 376px;

}

nav {
    margin: auto;
    margin-top: -12px;
    margin-left: 149px;
}

.nav-bar1 {
    display: flex;
    padding-top: 51px;
}

.logo1 img {
    width: 290px;
}

/**.header-brand {
  display: flex;
}

.header-brand img {
  width: 49.8px;
  height: 49.8px;
}

.brand-content {
  margin: auto 0 0 5px;
  font-size: 16.7px;
}

.brand-content a {
  font-size: 16.7px;
  color: white;
  font-family: 'BPG Nino Mtavruli';
  font-weight: 500;
}

.brand-content span a {
  width: 100%;
  letter-spacing: 3px;
  font-weight: 800;
}

.first-hr {
  margin: 0px 0 3px 0px;
  border: none;
  height: 2px;
  color: white;
  background-color: white;
}     **/



.nav-bar1 nav ul {
    display: flex;
}

.nav-bar1 nav ul li {
    display: flex;
    position: relative;
    padding: 0 2px;
}

.nav-bar1 nav ul li a {
    color: #ffffff;
    font-family: "BPGMrgvlovani2010";
    font-size: 14px;
    padding: 12px 13px;
}

.nav-bar1 nav ul li::after {
    content: "";
    border-top: 2px solid white;
    position: absolute;
    width: 100%;
    top: -40px;
    display: none;
}

.nav-bar1 nav ul li:hover a {
    background: white;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-bar1 nav ul li:hover::after {
    display: block;
}

#nav-dropdown ul {
    display: none;
    color: black;
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    width: 268px;
    height: 182px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
}

#nav-dropdown:hover ul {
    display: block;
    z-index: 1;
    margin-top: 38px;
    padding-top: 12px;

}

#nav-dropdown ul li::after {
    border-top: none;

}

#nav-dropdown ul li {

    width: 100%;
    padding: 0 0 0 0;
}



#nav-dropdown ul li a:hover {

    background-color: #f7f7f7 !important;

}

#nav-dropdown ul li a {

    font-family: "BPGMrgvlovani2010";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    width: 100%;
    letter-spacing: normal;
    color: #000000;
}

#nav-dropdown ul li:hover {

    background-color: white;
    text-decoration: none;

}

.lang-switch {
    color: #ffffff;
    font-size: 12px;
    margin-top: -1px;
}

.nav-bar2 {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 48px;
    height: 172px;
}

.nav-bar2 .nav-images {
    width: 100%;
    font-size: 80%;
    text-align: center;
    border-right: 1px solid #f6e9e9;
    padding: 21px 0px;
}

.nav-bar2 .nav-images:last-child {
    border: none;
}

.nav-bar2 .nav-images h2 {
    font-family: 'BPGNinoMtavruli-Bold';
    color: #15181f;
    font-size: 18px;
}

.nav-bar2 a img {
    padding-bottom: 1.5em;
}


.carousel-inner .slider-main2 {
    height: 761px;
}

.carousel-item .d-block {
    height: 761px;

}

.carousel-control-next,
.carousel-control-prev {
    top: 87% !important;
    opacity: 1.5 !important;
    width: 70px !important;
}



.carousel-control-prev {
    width: 70% !important;
}

.carousel-control-prev #left {
    margin-left: 91%;
    width: 80px;
    height: 14px;
    object-fit: contain;
}

.carousel-control-next {
    width: 30% !important;
}

.carousel-control-next #right {
    margin-right: 70%;
    width: 80px;
    height: 14px;
    object-fit: contain;
}

.carousel-item.active .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35px;
    left: 58px;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    width: 662px;
    height: 122px;
    text-align: unset;
}


.carousel-caption h3 {
    font-family: 'BPGNinoMtavruli-Bold';
    font-size: 53px;
    height: 122px;
    color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}


.row h2 {
    font-size: unset;
    margin-bottom: unset;
    font-weight: unset;
    line-height: unset;
    margin-top: unset;
}


.image-1 {
    position: relative;
    height: min-content;
}

.image-1 img {
    width: 322px;
    height: 522px;
    border-radius: 4px;
}

.image-2 {
    position: absolute;
    display: flex;
    flex-flow: column;
    margin: 318px 49px 49px;
}

.image-2 img {
    width: 224px;
    height: 70px;
    margin-bottom: 15px;
}

.image-4 {
    position: relative;
    height: min-content;
    margin-left: 11px;
}

.image-4 img {
    width: 654px;
    height: 256px;
}

#image-4 {
    margin-top: -64px;
    margin-left: 27px;
    width: 261px;
    height: 30px;
    font-family: BPG Nino Mtavruli;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.image-5 {
    position: relative;
    height: min-content;
    margin-left: 11px;
}

.image-5 img {
    width: 322px;
    height: 256px;
    object-fit: contain;
}

#image-5 {
    margin-top: -88px;
    margin-left: 35px;
    font-family: BPG Nino Mtavruli;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}


.image-6 {
    position: absolute;
    height: min-content;
    margin-left: 333px;
    margin-top: 265px;
}

.image-6 img {
    width: 322px;
    height: 256px;
    object-fit: contain;
}

#image-6 {
    margin-top: -55px;
    margin-left: 37px;
    font-family: BPG Nino Mtavruli;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.image-7 {
    position: absolute;
    height: min-content;
    margin-top: 264px;
    margin-left: 664px;
}

.image-7 img {
    width: 654.7px;
    height: 256px;
}

#image-7 {
    /*margin-top: -55px;*/
    margin-left: 38px;
    font-family: BPG Nino Mtavruli;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.image-8 {
    position: relative;
    height: min-content;

}

.image-8 img {
    width: 1320px;
    height: 256px;
    object-fit: contain;
    margin-top: 10px;
}

#image-8 {
    margin-top: -74px;
    margin-bottom: 21px;
    margin-left: 42px;
    letter-spacing: 2px;
    font-family: BPG Nino Mtavruli;
    font-size: 43px;
    font-weight: bold;
    color: #ffffff;
}

.image-9 {
    margin-top: 13px;

}

.image-9 img {
    vertical-align: super;
}

#image-9 {
    /*margin-top: -55px;*/
    margin-left: 37px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: BPG Nino Mtavruli;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
}

.image-10 {
    margin-left: 12px;
    margin-top: 13px;
}

#image-10 {
    font-family: BPG Nino Mtavruli;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

section h1 {
    font-family: BPG Nino Mtavruli;
    font-size: 36px;
    font-weight: bold;
    color: #15181f;
    margin-top: 3px;
}

section .container-2 {
    margin-top: 49px;
}

.row-2 {
    display: flex;
    margin-top: 80px;
}

.row-2 a h2 {
    width: 382px;
    height: 64px;
    font-family: BPGMrgvlovani2010;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.4px;
    color: #1d212c;
    margin-top: 19px;
}

.row-2 a p {
    height: 16px;
    font-family: BPGMrgvlovani2010;
    font-size: 14px;
    letter-spacing: 1px;
    color: #787d88;
    margin-top: 22px;
}

.image-12 {
    margin-left: 30px;
}


.image-13 {
    margin-left: 30px;
}

.image-13 img {
    height: 264px;
}

.red-line {
    width: 226px;
    height: 2px;
    background-color: #e7343f;
    border: none;
    float: left;
}

.news-bck {
    background-color: #fafafa;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 522px;
    margin-top: -58px;
}

.news {
    margin-top: 46px;
}

.news p {
    display: inline;
    width: 249px;
    height: 23px;
    font-family: BPGNinoMtavruli;
    font-size: 20px;
    font-weight: bold;
    color: #1d1e1f;
}

.news span {
    width: 81px;
    height: 16px;
    opacity: 0.5;
    font-family: BPGMrgvlovani2010;
    font-size: 14px;
    color: #1d1e1f;
    margin-left: 24px;
}

.news-icons {
    display: flex;
    padding-top: 15px;
}

.news-icons div {
    display: flex;
    padding-right: 31px;
}

.icon-info {
    margin-left: 13px;
    flex-direction: column;
}

.icon-info h5 {
    font-family: Avenir-Medium;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.7px;
    color: #1d1e1f;
}

.icon-info p {
    font-family: BPGMrgvlovani2010;
    font-size: 14px;
    color: #1d1e1f;
    font-weight: initial;
}

.up {
    font-family: Avenir-Medium;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.7px;
    color: #1d1e1f;
}

footer {
    padding-top: 44px;

}



.part-1 ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 32px 440px 54px 0px;
    white-space: nowrap;
}

.part-1 ul li {
    padding-right: 48px;
}

.part-1 ul li a {
    font-family: BPGMrgvlovani2010;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #aaaeb8;
}

.part-1 ul li a:hover {
    font-family: BPGMrgvlovani2010;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #181c27;
}

#active {
    font-family: BPGMrgvlovani2010;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #181c27;
}

#background {
    height: 80px;
    background-color: #1f2126;
    background-position: relative;
}

.part-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

}

.part-2 p {
    width: 403px;
    height: 24px;
    font-family: BPGMrgvlovani2010;
    font-size: 10px;
    line-height: 2.4;
    text-align: center;
    color: #9fa4af;

}

.footer-icon1 {
    width: 28px;
    height: 28px;
    object-fit: contain;
    opacity: 0.4;
}

.footer-icon2 {
    width: 10px;
    height: 12px;
    margin-top: 4px;
}

.trial {
    background-color: red;
    background-position: center center background-size:cover;
    height: 300px;
}

#footer-hr {
    background-color: #aaaeb8;
}