footer {
  padding-top: 37px;
  hr {
    background-color: $footer-hr-background-color;
  }
}

.part-1 {
  ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 21px 440px 43px 0px;
    white-space: nowrap;
    li {
      padding-right: 48px;
      a {
        font-family: $footer-primary-font-family;
        font-size: $footer-primary-font-size;
        letter-spacing: 1.8px;
        color: $footer-primary-font-color;
      }
      &:hover {
        font-family: $footer-primary-font-family;
        font-size: $footer-primary-font-size;
        letter-spacing: 1.8px;
        color: $footer-primary-font-hover;
      }
    }
  }
}

.footer-background {
  height: 80px;
  background-color: $footer-background-color;
  background-position: relative;
}

.part-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  p {
    width: 403px;
    height: 24px;
    font-family: $footer-secondary-font-family;
    font-size: $footer-secondary-font-size;
    line-height: 2.4;
    text-align: center;
    color: $footer-secondary-font-color;
  }
}

.footer-icon1 {
  width: 28px;
  height: 28px;
  object-fit: contain;
  opacity: 0.4;
}

.footer-icon2 {
  width: 10px;
  height: 12px;
  margin-top: 4px;
}
