.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 54px;
}

.image-1 {
  position: relative;
  width: 322px;
  height: 522px;
  border-radius: 4px;

  img {
    width: 322px;
    height: 522px;
    border-radius: 4px;
  }
}

.image-2 {
  position: absolute;
  display: flex;
  flex-flow: column;
  margin: 318px 49px 49px;
  width: 224px;
  height: 70px;
  margin-bottom: 15px;

  img {
    width: 224px;
    height: 70px;
    margin-bottom: 15px;
  }
}

%figcaption {
  position: absolute;
  font-weight: bold;
  color: $gallery-font-color;
  font-family: $gallery-font-family;
  font-size: $gallery-font-size;
}

.image-4 {
  position: relative;
  width: 654px;
  height: 256px;
  margin-left: 11px;

  img {
    width: 654px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    margin-top: -70px;
    margin-left: 27px;
    width: 261px;
    height: 30px;
  }
}

.image-5 {
  position: relative;
  width: 322px;
  height: 256px;
  margin-left: 10px;

  img {
    width: 322px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    margin-top: -88px;
    margin-left: 35px;
    line-height: 1;
  }
}

.image-6 {
  position: absolute;
  width: 322px;
  height: 256px;
  margin-left: 333px;
  margin-top: 265px;

  img {
    width: 322px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    margin-top: -55px;
    margin-left: 37px;
  }
}

.image-7 {
  position: absolute;
  width: 654.7px;
  height: 256px;
  margin-top: 264px;
  margin-left: 665px;

  img {
    width: 654.7px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    /*margin-top: -55px;*/
    margin-left: 38px;
  }
}

.image-8 {
  position: relative;
  width: 1320px;
  height: 256px;
  margin-bottom: 10px;
  margin-top: 8px;

  img {
    width: 1320px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    margin-top: -74px;
    margin-bottom: 21px;
    margin-left: 42px;
    letter-spacing: 2px;
    font-size: 43px;
  }
}

.image-9 {
  width: 654px;
  height: 256px;

  img {
    width: 654px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
    /*margin-top: -55px;*/
    margin-left: 37px;
    letter-spacing: 1px;
  }
}

.image-10 {
  margin-left: 10px;
  width: 654px;
  height: 256px;
  img {
    width: 654px;
    height: 256px;
  }

  figcaption {
    @extend %figcaption;
  }
}
