.news {
  margin-top: 46px;
  p {
    display: inline;
    font-family: $news-icons-font-family;
    font-size: $news-icons-font-size;
    font-weight: bold;
    color: $news-icons-font-color;
  }
  span {
    width: 81px;
    height: 16px;
    opacity: 0.5;
    font-family: $icon-date-font-family;
    font-size: $icon-date-font-size;
    color: $icon-date-font-color;
    margin-left: 24px;
  }
}
.news-icons {
  display: flex;
  padding-top: 6px;
  div {
    display: flex;
    padding-right: 31px;
  }
  .image-14 {
    width: 43px;
    height: 43px;
  }
  .image-15 {
    height: 29px;
    margin-top: 11px;
  }
  .image-16 {
    height: 43px;
  }
}

.icon-info {
  margin-left: 13px;
  flex-direction: column;
  h5 {
    font-family: $icon-numbers-font-family;
    font-size: $icon-numbers-font-size;
    font-weight: 900;
    letter-spacing: 2.7px;
    color: $icon-numbers-font-color;
  }
  p {
    font-family: $icon-info-font-family;
    font-size: $icon-info-font-size;
    color: $icon-info-font-color;
    font-weight: initial;
    margin-top: -8px;
    letter-spacing: 0.8px;
  }
}
