section {
  margin-top: 82px;
  h1 {
    font-family: $news-header-font-family;
    font-size: $news-header-font-size;
    font-weight: bold;
    color: $news-header-font-color;
    margin: 7px 0px 22px 0px;
    width: fit-content;
  }
}

.red-line {
  width: 226px;
  height: 2px;
  background-color: $red-line-bg-color;
  border: none;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

.news-blocks {
  display: flex;
  margin-top: 88px;
  a {
    h2 {
      width: 382px;
      height: 64px;
      font-family: $news-blocks-font-family;
      font-size: $news-blocks-font-size;
      line-height: 1.6;
      letter-spacing: 1.4px;
      color: $news-blocks-font-color;
      margin-top: 12px;
    }
    p {
      height: 30px;
      font-family: $news-blocks-font-family;
      font-size: $news-date-font-size;
      letter-spacing: 1px;
      color: $news-date-font-color;
      margin-top: 12px;
    }
  }
}

%block-images {
  margin-left: 30px;
  height: 264px;
}
.image-11 {
  img {
    width: 417px;
    height: 264px;
  }
}
.image-12 {
  @extend %block-images;
  img {
    width: 417px;
    height: 264px;
  }
}

.image-13 {
  @extend %block-images;
  img {
    width: 417px;
    height: 264px;
  }
}
