.logo1 img {
  width: 290px;
}

.nav-bar1 {
  display: flex;
  padding-top: 51px;

  nav {

    margin: -12px auto auto 149px;
  }

  ul {
    display: flex;
  }


  li {
    display: flex;
    position: relative;
    padding: 0 2px;

    a {
      color: $header-primary-font-color;
      font-family: $header-primary-font-family;
      font-size: $header-primary-font-size;
      padding: 2px 13px;
    }

    &::after {
      content: "";
      border-top: 2px solid white;
      position: absolute;
      width: 100%;
      top: -40px;
      display: none;
    }



    &:hover {
      a {
        background-color: $nav-hover-bg-color;
        color: $nav-hover-font-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &::after {
        display: block;
      }
    }
  }
}




#nav-dropdown {
  ul {
    display: none;
    color: $nav-hover-font-color;
    position: absolute;
    background-color: $nav-hover-bg-color;
    border-radius: 0px 0px 4px 4px;
    width: 268px;
    height: 182px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:hover {
    ul {
      display: block;
      z-index: 1;
      margin-top: 31px;
      padding-top: 12px;
    }
  }


  li {
    width: 100%;
    padding: 8px 0 0 0;

    &:hover {
      background-color: $nav-hover-bg-color;
      text-decoration: none;
    }

    &::after {
      border-top: none;
    }

    a {
      font-family: "BPGMrgvlovani2010";
      font-size: $dropdown-list-font-size;
      width: 100%;
      

      &:hover {
        background-color: $dropdown-list-hover-color;
      }
    }
  }
}

.lang-switch {
  color: $font-light;
  font-size: $lang-switch-font-size;
  margin-top: -10px;
  font-family: $lang-switch-font-size;

  &:hover {
    color: $lang-switch-hover;
  }
}