.nav-bar2 {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: $nav2-bg-color;
  margin-top: 43px;
  height: 172px;

  .nav-images {
    width: 100%;
    text-align: center;
    border-right: 1px solid #f6e9e9;
    padding: 10px 0;
    margin-top: 5px;

    img {
      padding-bottom: 5px;
    }

    &:last-child {
      border: none;
    }

    h2 {
      font-family: $nav2-font-family;
      color: $header-secondary-font-color;
      font-size: $header-secondary-font-size;
    }
  }
}
