@font-face {
  font-family: BPGMrgvlovani2010;
  src: url(../fonts/bpg_mrgvlovani_2010.woff);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(../fonts/Avenir-Medium.woff);
}

@font-face {
  font-family: BPGNinoMtavruli-Bold;
  src: url(../fonts/bpg_nino_mtavruli_bold.woff);
}

@font-face {
  font-family: BPG Nino Mtavruli;
  src: url(../fonts/bpg_nino_mtavruli_normal.woff);
}
