/* Basic Fonts */
$base-font-color: #15181f;
$font-light: #ffffff;
$font-dark: #000000;

/* Header */
$header-primary-font-family: "BPGMrgvlovani2010";
$header-secondary-font-color: #15181f;
$header-primary-font-size: 14px;
$header-secondary-font-size: 18px;
$header-primary-font-color: #ffffff;

/*Primary Navigation*/
$nav-hover-bg-color: #ffffff;
$nav-hover-font-color: #000000;
$dropdown-list-hover-color: #f7f7f7;
$dropdown-list-font-size: 13px;
$lang-switch-font-size: 12px;
$lang-switch-font-color: #ffffff;
$lang-switch-active-color: #ca9b9b;
$lang-switch-hover: #1f2126;
$lang-switch-font-family: "BPGMrgvlovani2010";

/*Secondary Navigation*/
$nav2-bg-color: #ffffff;
$nav2-font-family: "BPGNinoMtavruli-Bold";

/*Gallery*/
$gallery-font-color: #ffffff;
$gallery-font-family: "BPG Nino Mtavruli";
$gallery-font-size: 26px;

/*News Blocks*/
$news-header-font-family: "BPG Nino Mtavruli";
$news-header-font-size: 36px;
$news-header-font-color: #15181f;
$red-line-bg-color: #e7343f;
$news-blocks-font-family: "BPGMrgvlovani2010";
$news-blocks-font-size: 20px;
$news-blocks-font-color: #1d212c;
$news-date-font-color: #787d88;
$news-date-font-size: 14px;

/*News Icons*/
$news-icons-font-family: "BPGNinoMtavruli";
$news-icons-font-size: 20px;
$news-icons-font-color: #1d1e1f;
$icon-date-font-family: "BPGMrgvlovani2010";
$icon-date-font-size: 14px;
$icon-date-font-color: #1d1e1f;
$icon-numbers-font-family: "Avenir-Medium";
$icon-numbers-font-size: 30px;
$icon-numbers-font-color: #1d1e1f;
$icon-info-font-family: "BPGMrgvlovani2010";
$icon-info-font-size: 14px;
$icon-info-font-color: #1d1e1f;

/*footer*/
$footer-hr-background-color: #aaaeb8;
$footer-primary-font-color: #aaaeb8;
$footer-primary-font-hover: #181c27;
$footer-primary-font-family: "BPGMrgvlovani2010";
$footer-primary-font-size: 12px;
$footer-current-font-color :#181c27;
$footer-background-color: #1f2126;
$footer-secondary-font-family: "BPGMrgvlovani2010";
$footer-secondary-font-size: 10px;
$footer-secondary-font-color: #9fa4af;
