/* Fonts */
$base-font-size:20px;
$base-font-family: "BPGMrgvlovani2010",
"BPG Nino Mtavruli",
"BPGNinoMtavruli",
"BPGNinoMtavruli-Bold",
sans-serif;
$base-font-color:#15181f;
$font-light:#ffffff;
$font-dark:#000000;


/* Background Colors */
$color-white:#ffffff;
$color-dark:#1f2126;
$hover-gray:#f7f7f7;

/*footer*/
$footer-hr-bc: #aaaeb8;
$footer-font-color: #aaaeb8;
$footer-font-hover: #181c27;
$footer-bckg-color: #1f2126;
$footer-copyright-color: #9fa4af;