section {
    .container-2 {
      margin-top: 42px;
    }
  }
  .news-bck {
    background-color: #fafafa;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 532px;
    margin-top: -48px;
  }