
@font-face {
	font-family: 'BPGPaataCondCaps';
	src: url('bpg_paata_cond_caps-webfont.eot');
	src: local('BPG Paata Cond Caps'), local('BPGPaataCondCaps'), url('bpg_paata_cond_caps-webfont.woff') format('woff'), url('bpg_paata_cond_caps-webfont.ttf') format('truetype'), url('bpg_paata_cond_caps-webfont.svg#webfontkIdfsvQo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BPGIngiri';
	src: url('fonts/bpg_ingiri_2008-webfont.eot');
	src: local('fonts/BPG Square Mtavruli'), local('fonts/BPGSquareMtavruli'), url('fonts/bpg_ingiri_2008-webfont.woff') format('woff'), url('fonts/bpg_ingiri_2008-webfont.ttf') format('truetype'), url('fonts/bpg_ingiri_2008-webfont.svg#webfontb4avWRn2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BPGSquareMtavruli';
	src: url('fonts/bpg_square_mtavruli_2009-webfont.eot');
	src: local('fonts/BPG Square Mtavruli'), local('fonts/BPGSquareMtavruli'), url('fonts/bpg_square_mtavruli_2009-webfont.woff') format('woff'), url('fonts/bpg_square_mtavruli_2009-webfont.ttf') format('truetype'), url('fonts/bpg_square_mtavruli_2009-webfont.svg#webfontb4avWRn2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVuSans';
	src: url('fonts/bpg_dejavu_sans-webfont.eot');
	src: local('fonts/DejaVu Sans'), local('fonts/DejaVuSans'), url('fonts/bpg_dejavu_sans-webfont.woff') format('woff'), url('fonts/bpg_dejavu_sans-webfont.ttf') format('truetype'), url('fonts/bpg_dejavu_sans-webfont.svg#webfontau2IQZsR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
		font-family: 'BPGNinoMtavruli';
		src: url('http://ttc.com.ge/_css/fonts/bpg_nino_mtavruli_bold-webfont.eot');
		src: url('http://ttc.com.ge/_css/fonts/bpg_nino_mtavruli_bold-webfont?#iefix') format('embedded-opentype'),
				 url('http://ttc.com.ge/_css/fonts/bpg_nino_mtavruli_bold-webfont.woff') format('woff'),
				 url('http://ttc.com.ge/_css/fonts/bpg_nino_mtavruli_bold-webfont.ttf') format('truetype'),
				 url('http://ttc.com.ge/_css/fonts/bpg_nino_mtavruli_bold-webfont.svg#webfont1ViiG9lc') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'BPGGlaho';
	src: url('fonts/bpg_glaho-webfont.eot');
	src: local('fonts/BPG Glaho'), local('fonts/BPGGlaho'), url('fonts/bpg_glaho-webfont.woff') format('woff'), url('fonts/bpg_glaho-webfont.ttf') format('truetype'), url('fonts/bpg_glaho-webfont.svg#webfontrVoa64KW') format('svg');
	font-weight: normal;
	font-style: normal;
}


.BPGIngiri{font-weight: normal; font-style: normal;line-height:normal; font-family: 'BPGIngiri', sans-serif;}
.BPGPaataCondCaps {color: red; font-weight: normal; font-style: normal;line-height:normal; font-family: 'BPGPaataCondCaps', sans-serif; }
.BPGSquareMtavruli {font-weight: normal; font-style: normal;line-height:normal; font-family: 'BPGSquareMtavruli', sans-serif;}
.DejaVuSans {font-weight: normal; font-style: normal;line-height:normal; font-family: 'DejaVuSans', sans-serif;}
.BPGNinoMtavruli-Bold {font-style: normal;line-height:normal; font-family: 'BPGNinoMtavruli', sans-serif !important; padding-top: 4px;}
.BPGGlaho {font-weight: normal; font-style: normal;line-height:normal; font-family: 'BPGGlaho', sans-serif;}


/*Costum Design*/
#header .navigation ul .MainLinks {list-style-type: none; float: left; text-align: right; padding-top: 25px;}